@import "color";
@import "mixins/mixins";

/* block Главная */
.block-1 {
  background-image: url("../images/block-1-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $colorWhite;
  padding-top: 140px;
  padding-left: 230px;
  height: 100vh;
  min-height: 860px;
  position: relative;
  h2 {
    font-size: 120px;
    font-weight: 700;
    line-height: 100px;
  }
  h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    margin: 40px 0;
  }
  p {
    font-size: 19px;
    line-height: 28px;
    margin: 0 0 28px 0;
  }
  .desc {
    width: 485px;
    overflow: hidden;
    margin: 0 0 30px 0;
  }
  .group-arrow {
    margin-bottom: 50px;
  }
}

/* block Who is Ян Кальянов */
.block-2 {
  background-image: url("../images/block-2-bg.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: $coloNero;
  height: 404px;
  overflow: hidden;
  .title-block {
    width: 948px;
    float: right;
    span {
      float: left;
    }
    .icon {
      float: left;
    }
  }
  ul {
    &.menu-section {
      margin: 50px 225px 0 0;
      float: right;
      li {
        width: 148px;
        height: 174px;
        float: left;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        a {
          background-color: $colorBlack;
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 148px;
          height: 148px;
          @include transition(background-color .4s ease);
          span {
            visibility: hidden;
            opacity: 0;
            margin-top: 0;
            max-height: 0;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: $colorWhite;
            line-height: 100%;
            @include transition(visibility .4s ease);
            @include transition(opacity .4s ease);
            @include transition(margin-top .4s ease);
          }
          &:hover {
            background-color: $colorBlue;
            height: 174px;
            @include transition(background-color .4s ease);
            span {
              visibility: visible;
              opacity: 1;
              max-height: inherit;
              margin-top: 28px;
              @include transition(visibility .4s ease);
              @include transition(opacity .4s ease);
              @include transition(margin-top .4s ease);
            }
          }
        }
      }
    }
  }
}

/* block Ведущий Event-Fm */
.block-3 {
  .desc {
    margin-bottom: 70px;
  }
}

/* block Идеи на мероприятия */
.block-4 {
  background-image: url("../images/block-4-bg.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: $colorWhiteSmokeBg;
  min-height: 540px;
  padding-top: 90px;
  overflow: hidden;
  position: relative;
  .title {
    margin-bottom: 44px;
  }
  .desc {
    margin-bottom: 50px;
    max-width: 510px;
  }
}

/* block Участник Дуэта #EK_show */
.block-5 {
  .desc {
    margin-bottom: 50px;
  }
}

/* block Идеи на мероприятия */
.block-6 {
  background-image: url("../images/block-6-bg.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: $colorWhiteSmokeBg;
  min-height: 425px;
  padding-top: 110px;
  overflow: hidden;
  position: relative;
  .title {
    margin-bottom: 44px;
  }
  .desc {
    max-width: 510px;
  }
}

.block-7 {
  background-image: url("../images/block-7-bg.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-color: $coloNero;
  min-height: 768px;
  .title-block {
    padding-left: 230px;
    padding-right: 46px;
    width: 956px;
    float: left !important;
    .icon {
      float: right;
    }
  }
  .form {
    padding-left: 230px;
    .field-item {
      width: 396px;
    }
    .desc {
      font-size: 16px;
      line-height: 24px;
      color: $colorWhite;
      width: 100%;
      margin-bottom: 64px;
      margin-top: 30px;
      float: left;
      p {
        max-width: 400px;
      }
    }
  }
}

.block-8 {
  background-image: url("../images/block-8-bg.jpg");
  background-repeat: no-repeat;
  background-position: left center;
  background-color: $coloNero;
  min-height: 768px;
  overflow: hidden;
  .title-block {
    padding-left: 40px;
    padding-right: 230px;
    width: 1224px;
    float: right;
    span {
      float: left;
    }
    .icon {
      float: right;
    }
  }
  .contacts {
    padding-left: 20px;
    .name, .desc {
      color: $colorWhite;
    }
    .name {
      font-size: 36px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 63px 0 22px 0;
    }
    .desc {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;
    }
    .phone {
      font-size: 24px;
      color: $colorWhite;
      margin: 45px 0 10px 0;
    }
    .email {
      font-size: 19px;
      color: $colorSuvaGrey;
    }
  }
  .block-text-icon {
    margin-bottom: 7px;
    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      margin: 0 10px 0 0;
      .icon-content {
        background-color: $colorCharcoal;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorBlack;
        @include border-radius(50%);
      }
    }
    .text, .text a {
      font-size: 15px;
      font-weight: bold;
      line-height: 40px;
      color: $colorWhite;
      text-transform: uppercase;
    }
    &:hover {
      cursor: pointer;
      .icon {
        .icon-content {
          background-color: $colorBlue;
          width: 40px;
          height: 40px;
          color: $colorWhite;
        }
      }
    }
  }

  ul {
    &.link-social {
      text-align: center;
      display: block;
      margin: 32px -6px 0;
      float: left;
      li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        float: left;
        margin: 0 3px;
        a {
          border: 1px solid $colorNightRider;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          font-size: 13px;
          text-align: center;
          line-height: 32px;
          color: $colorWhite;
          text-decoration: none;
          @include border-radius(50%);
          &:hover {
            background-color: $colorBlue;
            border: 1px solid $colorBlue;
            width: 40px;
            height: 40px;
            line-height: 40px;
            color: $colorWhite;
          }
        }
      }
    }
  }

}

.block-3, .block-4, .block-5, .block-6 {
  padding-left: 230px;
  .title {
    .icon-block {
      background-color: $colorBlue;
      width: 47px;
      height: 47px;
      display: flex;
      align-items: center;
      justify-content: center;
      float: left;
      margin: 0 18px 0 0;
    }
    .value {
      font-size: 36px;
      font-weight: bold;
      line-height: 47px;
      text-transform: uppercase;
      color: $colorBlack;
    }
  }
  .desc {
    font-size: 16px;
    line-height: 24px;
    color: $colorBlack;
  }
}

/* block Ведущий Event-Fm and Участник Дуэта #EK_show */
.block-3, .block-5 {
  background-color: $colorWhiteSmokeBg;
  min-height: 505px;
  padding-top: 90px;
  overflow: hidden;
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
    display: block;
    @include border-radius(50%);
  }
  &:after {
    background-color: $colorGainsboro;
    width: 400px;
    height: 400px;
    right: 250px;
    top: -90px;
    opacity: .6;
    @include transition(all 10.4s ease);
  }
  &:before {
    background-color: $colorWhisper;
    width: 700px;
    height: 700px;
    right: 110px;
    top: -236px;
    opacity: .7;
    @include transition(all 3s ease);
  }
  &.animate-bg {
    &:after {
      width: 870px;
      height: 870px;
      right: 115px;
      top: -180px;
      opacity: 1;
      @include transition(all 3s ease);
    }
    &:before {
      width: 1520px;
      height: 1520px;
      right: -250px;
      top: -470px;
      opacity: 1;
      @include transition(all 3s ease);
    }
    .content {
      &:after {
        width: 368px;
        height: 368px;
        opacity: 1;
        @include transition(all 3s ease);
      }
    }
  }
  .content {
    position: relative;
    z-index: 1;
    &:after {
      background-color: $colorBlue;
      content: '';
      position: absolute;
      display: block;
      width: 180px;
      height: 180px;
      right: 364px;
      top: -64px;
      z-index: -1;
      opacity: .5;
      @include border-radius(50%);
      @include transition(all 3s ease);
    }
  }
  .title {
    margin-bottom: 64px;
  }
  .desc {
    max-width: 510px;
  }
  .more-link {
    font-size: 15px;
    font-weight: bold;
    line-height: 42px;
    text-transform: uppercase;
    color: $colorBlack;
    float: left;
    display: flex;
    align-items: center;
    .icon-block {
      background-color: $colorWhisper;
      width: 32px;
      height: 32px;
      margin: -5px 0 -5px 15px;
      font-size: 14px;
      text-align: center;
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $colorBlack;
      @include border-radius(50%);
    }
    &:hover {
      cursor: pointer;
      .icon-block {
        background-color: $colorBlue;
        color: $colorWhite;
        width: 42px;
        height: 42px;
      }
    }
  }
}

.block-2, .block-7, .block-8 {
  .title-block {
    background-color: $colorBlack;
    padding: 34px 36px;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100%;
    color: $colorWhite;
    height: 125px;
    float: right;
    span {
      float: left;
      margin: 0 50px 0 0;
    }
    .icon {
      float: left;
      margin: 20px 0;
    }
  }
}