.btn-custom {
  background-image: url("../images/button-bg.png");
  width: 235px;
  height: 107px;
  font-size: 15px;
  line-height: 100%;
  padding: 26px 6px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}