$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorDarkGray: #A3A3A3;
$colorLightGray: #D3D3D3;
$colorVeryLightGrey: #CFCFCF;
$colorWhiteSmoke: #F2F2F2;
$colorWhisper: #EBEBEB;
$colorGhostWhite: #F5F7FF;
$colorSuvaGrey: #939393;
$colorBlue: #0936F4;