$colorWhite: #FFFFFF;
$colorBlack: #000000;
$coloNero: #161616;
$colorDarkGray: #A3A3A3;
$colorLightGray: #D3D3D3;
$colorVeryLightGrey: #CFCFCF;
$colorWhiteSmoke: #F2F2F2;
$colorWhiteSmokeBg: #F3F3F3;
$colorWhisper: #EBEBEB;
$colorGhostWhite: #F5F7FF;
$colorSuvaGrey: #939393;
$colorGainsboro: #E0E0E0;
$colorBlue: #0936F4;