.icon {
  background-repeat: no-repeat;
  display: inline-block;

  $iconArrowRightWhite24: '../images/icon-arrow-white-right-o24.png';
  &.icon-arrow-right-white {
    background-image: url($iconArrowRightWhite24);
    width: 11px;
    height: 19px;
  }

  $iconLogoArrowDown: '../images/icon-logo-arrow-down.png';
  $iconLogoArrowUp: '../images/icon-logo-arrow-up.png';
  $iconLogoArrowRight: '../images/icon-logo-arrow-right.png';
  $iconLogoArrowLeft: '../images/icon-logo-arrow-left.png';
  &.icon-logo-arrow-down {
    background-image: url($iconLogoArrowDown);
    width: 19px;
    height: 11px;
  }
  &.icon-logo-arrow-up {
    background-image: url($iconLogoArrowUp);
    width: 19px;
    height: 11px;
  }
  &.icon-logo-arrow-right {
    background-image: url($iconLogoArrowRight);
    width: 11px;
    height: 19px;
  }
  &.icon-logo-arrow-left {
    background-image: url($iconLogoArrowLeft);
    width: 11px;
    height: 19px;
  }
  $iconArrowBlueRight: '../images/icon-arrow-blue-right.png';
  &.icon-arrow-blue-right {
    background-image: url($iconArrowBlueRight);
    width: 11px;
    height: 19px;
  }
  $iconMicrophone: '../images/icon-microphone.png';
  $iconMicrophoneSmall: '../images/icon-microphone-small.png';
  $iconMicrophoneHover: '../images/icon-microphone-hover.png';
  &.icon-microphone {
    background-image: url($iconMicrophone);
    width: 26px;
    height: 38px;
    &.small {
      background-image: url($iconMicrophoneSmall);
      width: 18px;
      height: 27px;
    }
  }
  &.icon-microphone.hover, a:hover &.icon-microphone {
    background-image: url($iconMicrophoneHover);
    width: 34px;
    height: 46px;
  }
  $iconStemware: '../images/icon-stemware.png';
  $iconStemwareSmall: '../images/icon-stemware-small.png';
  $iconStemwareHover: '../images/icon-stemware-hover.png';
  &.icon-stemware {
    background-image: url($iconStemware);
    width: 30px;
    height: 39px;
    &.small {
      background-image: url($iconStemwareSmall);
      width: 21px;
      height: 27px;
    }
  }
  &.icon-stemware.hover, a:hover &.icon-stemware {
    background-image: url($iconStemwareHover);
    width: 38px;
    height: 47px;
  }
  $iconUsers: '../images/icon-users.png';
  $iconUsersSmall: '../images/icon-users-small.png';
  $iconUsersHover: '../images/icon-users-hover.png';
  &.icon-users {
    background-image: url($iconUsers);
    width: 52px;
    height: 35px;
    &.small {
      background-image: url($iconUsersSmall);
      width: 32px;
      height: 22px;
    }
  }
  &.icon-users.hover, a:hover &.icon-users {
    background-image: url($iconUsersHover);
    width: 60px;
    height: 43px;
  }
  $iconSnowflake: '../images/icon-snowflake.png';
  $iconSnowflakeSmall: '../images/icon-snowflake-small.png';
  $iconSnowflakeHover: '../images/icon-snowflake-hover.png';
  &.icon-snowflake {
    background-image: url($iconSnowflake);
    width: 39px;
    height: 39px;
    &.small {
      background-image: url($iconSnowflakeSmall);
      width: 27px;
      height: 27px;
    }
  }
  &.icon-snowflake.hover, a:hover &.icon-snowflake {
    background-image: url($iconSnowflakeHover);
    width: 47px;
    height: 47px;
  }

  $iconListenEther: '../images/icon-listen-ether.png';
  &.icon-listen-ether {
    background-image: url($iconListenEther);
    width: 32px;
    height: 32px;
  }

  $iconLinkSite: '../images/icon-link-site.png';
  &.icon-link-site {
    background-image: url($iconLinkSite);
    width: 32px;
    height: 32px;
  }

  $iconLogo: '../images/logo.png';
  &.logo {
    background-image: url($iconLogo);
    width: 232px;
    height: 95px;
  }
  $iconLogoMin: '../images/logo-min.png';
  &.logo-min {
    background-image: url($iconLogoMin);
    width: 37px;
    height: 37px;
  }
}