@import "color";
@import "mixins/mixins";

.slick-slider {
  max-width: 670px;
}
.slick-list {
  height: 420px;
  padding: 140px 0 72px !important;
  margin-top: -60px;
}

.item-slide {
  position: relative;
  @include transform(scale(1));
  @include transition(all 0.6s ease);
  &.slick-center {
    z-index: 2;
    @include transform(scale(2.25));
    @include transition(all 0.6s ease);
    img {
      @include box-shadow(12px, 0, 35px, rgba(0, 0, 0, .35));
    }
  }
  img {
    max-width: 100%;
  }
}

.slick-prev, .slick-next {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 0;
  line-height: 0;
  display: block;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 2;
  &:before {
    content: '';
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
  }
}

.slick-prev {
  left: -42px;
  &:before {
    background-image: url("../images/icon-slider-prev.png");
  }
}

.slick-next {
  right: -42px;
  &:before {
    background-image: url("../images/icon-slider-next.png");
  }
}
